@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  background-color: #020617; /* slate-950 */
  color: #e5e7eb;            /* slate-ish */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #64748b transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #64748b;
  border-radius: 9999px;
}